body
{
    font-family: 'Archivo Narrow', sans-serif;
}


.navbar
{
    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-brand
{
    color: white;
    font-size: 20px;
}

.navbar-light .navbar-brand:hover
{
    color: #ffffff;
}

.navbar-light .navbar-brand
{
    font-family: 'Monoton', cursive;
    font-size: 25px;
}


.container
{
    display: grid;
    height: 100%;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    background-color: white;
    padding: 20px;
    margin-top: 25px;
    
}

.container > .mobile-card
{
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height:431px;
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
}
.img:first-child
{
    width: 288px;
}

.img2
{
    width:296px;
}

.img:last-child
{
    width: 299px;
}
.img:nth-of-type(2){

    width: 263px;
    background-color: #00C4CC;
}

.img, .img2
{
    background-position:center;
    background-size:cover;
    width: 249px;
    height: 349px;
    margin: 0 auto;
}

.card-footer
{
    background-color: #00c4cc;
    background-image: linear-gradient(139deg, rgba(0, 196, 204, 0.5) 0%, rgba(125, 42, 232, 0.5) 100%);
    height: 50px;
    color: #ffffff;
    font-family: 'Rancho', cursive;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 781px)
{
    .container
    {
        grid-template-columns:auto;
    }
}


@media only screen and (max-width: 387px)
{
    .img
    {
       width: 100px;
    }
}

